@use "assets/sass/variables"as *;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $secondry-color;
}
a {
  cursor: pointer;
}

.main-color{
  color: $main-color;
}

.ngx-pagination{
  text-align: center;
  .current{
    background: unset !important;
    color: $main-color !important;
    border-bottom: 2px solid;
  }
  .pagination-next{
    background-color: $main-color;
    color: $white;
  }
}