@use "assets/sass/variables"as *;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $secondry-color;
}
a {
  cursor: pointer;
}

.main-color{
  color: $main-color;
}
.bg-secondary-light{
  background-color: #74747433;
}

.ngx-pagination{
  text-align: center;
  .current{
    background: unset !important;
    color: $main-color !important;
    border-bottom: 2px solid;
  }
  .pagination-next{
    background-color: $main-color;
    color: $white;
  }
}

.text-truncate-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-primary{
  background-color: $main-color !important;
}