<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">

        <h1 class="main-color h4">Main Information</h1>

        <div class="alert alert-secondary">
          All fields with (*) sign, are mandatory
        </div>

        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Registration ID</label>
              <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Event</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" [value]="" disabled>
            </div>
          </div>
        </div>
        
        <div class="row">
          <h1 class="main-color h4">Request Tickets</h1>  
          <div class="col-6">
            <div class="alert alert-secondary">
              maximum allowed number of registration per customer is 5 persons.
            </div>
            <button class="btn btn-outline-primary mb-3">
              Add Tickets
            </button>
          </div>
          

          <table class="table">
            <thead class=" table-primary">
              <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Age Group</th>
                <th>Nationality</th>
                <th>City of Residence</th>
                <th>Job Title</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>                
              </tr>
            </tbody>
            <tfoot class=" table-primary">
              <tr>
                <td>Total Tickets Price:</td>
                <td colspan="7"></td>

              </tr>
            </tfoot>
          </table>
        </div>
        <div class="row">
          <div class="col-3">
            <button class="btn btn-primary mb-3">
              Register
            </button>
          </div>
          <div class="col-3">
            <button class="btn btn-outline-secondary mb-3">
              Cancel Registration
            </button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>