@use "../../../../assets/sass/variables" as *;

.left-side {
  width: 100%;
  height: auto;
  background: $main-color;
  display: inline-block;
  position: sticky;  

  ul {
    list-style-type: none;
    padding: 0;   
    li {      
      padding: 1.125rem 1.875rem;
      &:first-child{
        padding-top: 2.813rem;
      }
      
      a {
        text-decoration: none;
        color: $white;
        font-size: 1.25rem;

        img{
          padding-inline-end: 1rem;
        }
      }
    }
  }
}
