<div class="left-side">
  <nav>
    <ul>
      <li>
        <a routerLink="/workspace">
          <img src="/assets/img/home-icon.svg" alt="home-icon">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/my-requests">
          <img src="/assets/img/requests-icon.png" alt="requests-icon">
          My Requests
        </a>
      </li>
      <li>
        <a routerLink="/my-tasks">
          <img src="/assets/img/tasks-icon.svg" alt="tasks-icon">
          My Tasks
        </a>
      </li>
    </ul>
  </nav>
</div>