@use "../../../../../assets/sass/variables" as *;

::ng-deep{
  body{
    background-color: $white;  
  }
}

.container{
  margin: 2.625rem auto;

  .event-details{
    .badge-custom{
      border: 1px solid #84BD00;
      padding: 10px;
      font-size: 18px;
      
    }
    h5{
      margin-bottom: 1rem;
    }
    h1{
      font-size: 3rem;
    }
  }
  .btn-register{
    background-color: $main-color;
    color: $white;
    border-radius: 30px;
  }
}
