@use ".../../../../../assets/sass/variables" as *;

.container {
  margin: 2.625rem auto;  
  .card {
    padding: 30px;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: $main-color;
    }
    h2{
      font-size: 3rem;
      .title{
        font-size: 1rem;
      }
    }

    .table{
      > thead {
        tr{
          th{
            font-weight: 400;
          }
        }
      }
      > tbody {

        tr{          
          height: 80px;
          td{
            background-color: $secondry-color;
            border-bottom-color: $white;
            border-bottom-width: .725rem ;
            vertical-align: middle;
          }
        }

      }
    }
  }
}