<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-9">
      <div class="card">

        <h1>Workspace Overview</h1>

        <div class="alert alert-light">
          <div class="row">
            <div class="col-6 d-flex gap-3">
              <img src="/assets/img/surface1.svg" alt="">
              
              <h2 class="main-color">
                {{ inProgressRequestsCount }}
                <p class="title">In Progress Requests </p>
              </h2>              
              
            </div>
            <div class="col-6 d-flex gap-3">
              <img src="/assets/img/homework.svg" alt="">
              <h2>
                {{ pendingTasksCount }}
                <p class="title">Pending Tasks </p>
              </h2>              
              
            </div>
          </div>        
          
          
        </div>

        <div class="row">
          <div class="col-6">
            <h6 class="main-color">Latest Requests</h6>
          </div>
          <div class="col-6 text-end">
            <a routerLink="/my-requests">              
              See All Requests
            </a>
          </div>
          <table class="table" *ngIf="latestRequests.length > 0">
            <thead>
              <tr>
                <th>Request Number</th>
                <th>Request Status</th>
                <th>Request Submission Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let request of latestRequests">
                <td>{{ request.requestNumber }}</td>
                <td>{{ getStatusName(request.requestStatus) }}</td>
                <td>{{ request.requestSubmissionDate | dateOnly }}</td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="latestRequests.length === 0">No requests available.</p>
        </div>


      </div>
    </div>
  </div>
</div>