@use ".../../../../../assets/sass/variables" as *;

.container {
  margin: 2.625rem auto;  
  .card {
    padding: 30px;
    .alert-custom {
      background-color: $secondry-color;
      border-radius: 0;
      border: 0;
      padding: 20px;
      form{
        label{
          color: $black;
        }
        .btn-primary{
          background-color: $main-color;
        }
      }
    }
    .table{
      > thead {
        tr{
          th{
            font-weight: 400;
          }
        }
      }
      > tbody {

        tr{          
          height: 80px;
          td{
            background-color: $secondry-color;
            border-bottom-color: $white;
            border-bottom-width: .725rem ;
            vertical-align: middle;
          }
        }

      }
    }
  }
}
