<div>
  <h1>Upcoming Events</h1>
  <div>
    <label>Date: <input type="date" [(ngModel)]="filters.date" (change)="applyFilters()" /></label>
    <label>Category: 
      <select [(ngModel)]="filters.category" (change)="applyFilters()">
        <option value="">All</option>
        <option *ngFor="let category of categories" [value]="category.categoryName">{{ category.categoryName }}</option>
      </select>
    </label>
    <label><input type="checkbox" [(ngModel)]="filters.availableTickets" (change)="applyFilters()" /> Available Tickets</label>
  </div>
  
  <ul>
    <li *ngFor="let event of filteredEvents | paginate: { itemsPerPage: 6, currentPage: p }">
      <a (click)="viewDetails(event.eventId)">{{ event.title }}</a>
      <div>{{ event.start }}</div>
      <img [src]="event.image" alt="{{ event.title }}" />
      <div>{{ event.categoryTypeCode }}</div>
      <div>{{ event.description }}</div>
      <div>{{ event.location }}</div>
    </li>
  </ul>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>